@font-face {
    font-family: "Roboto";
    src:
            url("./fonts/Roboto-Regular.ttf") format("opentype");
}

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-light-grey: #EEEEEE;
    --color-logo-grey: #C4C4C4;
    --color-grey: #B0B0B0;
    --color-blue: #00D6FF;
    --color-dark-grey:#767676;
    --color-disabled: #8f8f8f;
    --color-bread-grey:#4e4e4e;
}

*,*:before,*:after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto";
    &:focus{
        outline-color:var(--color-blue);
    }
}

a{
    cursor: pointer;
    color:var(--color-black);
}

a:hover{
    color:var(--color-blue);
}

.container{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.header{
    background-color: var(--color-light-grey);
    position: sticky;
    top: 0;
    z-index: 5000;

    .container{
        gap:15px;
        justify-content: space-around;
        padding: 20px 0;
    }

    .header__line{
         width: 100%;
         color:var(--color-black);
         height: 1px;
    }

    .header__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
}

.catalog-and-search-block{
    display: flex;
    flex-grow: 1;
    align-items: center;
    .block__catalog{
        color: var(--color-white);
        background-color: var(--color-black);
        padding: 15px;
        border-radius: 6px 0 0 6px;
        cursor: pointer;
        display: flex;
        gap:10px;
        align-items: center;
        text-decoration: none;

        &:hover{
            color: var(--color-blue);

            .catalog__decor svg path{
                fill: var(--color-blue);
            }
        }

    }
    .block__search{
        flex-grow: 1;
        background: var(--color-white);
        border-radius: 0 6px 6px 0;
        display: flex;
        justify-content: space-between;
        .search__label{
            flex-grow:1;
        }
        .search__input{
            border: none;
            height: 100%;
            display: block;
            padding: 15px;
            width: 100%;
        }
        .search__submit{
            border: none;
            background: transparent;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover svg path{
                fill: var(--color-blue);
            }
        }
    }
}

.header-town{
     font-size: 12px;
     font-weight: 700;
     line-height: 14.06px;
     display: flex;
     gap: 5px;
     align-items: center;
     text-decoration: none;
 }

.phone{
    font-size: 12px;
    font-weight: 700;
    line-height: 14.06px;
}

.navigation{
    .navigation__list{
        list-style-type: none;
        display: flex;
        gap:15px;
        .navigation__item{
            position: relative;
            .navigation-link{
                text-decoration: none;
                font-size: 12px;
                font-weight: 400;
                line-height: 14.06px;
                position: relative;
                padding: 5px 0;
                &:hover{
                    color:var(--color-blue);
                }
                &.navigation-link--sub{
                    padding-right: 10px;
                    &:after{
                        content:"";
                        width: 0;
                        height: 0;
                        border-right: 3px solid transparent;
                        border-left: 3px solid transparent;
                        border-top: 5px solid var(--color-black);
                        position: absolute;
                        top:50%;
                        right:0;
                        transform: translateY(-50%);
                    }
                }
            }
            .navigation__sublist{
                list-style-type: none;
                gap:5px;
                flex-direction: column;
                padding: 5px 10px 10px;
                border:1px solid var(--color-black);
                border-radius:2px;
                position: absolute;
                left: 0;
                top:110%;
                display: none;
                background:var(--color-light-grey);
                width: 100%;
            }
            &:hover, &:focus{
                .navigation__sublist{
                    display: flex;
                }
            }
        }
    }
    &.navigation--black{
        a{
            color:var(--color-white);
        }
    }
    &.navigation--footer{
        .navigation__list{
            flex-direction: column;
        }
    }
}

.logo{
    background-color: var(--color-logo-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    .logo__name{
        font-size: 16px;
        font-weight: 700;
        line-height: 18.75px;
        letter-spacing: 0.08em;

    }
    .logo__purpose{
        font-size: 10px;
        font-weight: 400;
        line-height: 11.72px;
        color:var(--color-dark-grey);

    }
    &:hover *{
         color:var(--color-blue);
    }
}

.management{
    display: flex;
    gap:15px;
    align-items: center;
}

.like,.adress,.profile,.cart{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 7px;
    &:hover svg path{
        fill:var(--color-blue);
    }
}

.adress.adress--disabled, .adress.adress--disabled svg path{
    color:var(--color-disabled);
    fill:var(--color-disabled);
    cursor: no-drop;
    &:hover, &:hover svg path{
        color:var(--color-disabled);
        fill:var(--color-disabled);
    }
}

.cart{
    .cart__count{
        font-size: 12px;
        font-weight: 700;
        line-height: 14.06px;
        padding: 5px 10px;
        border-radius: 100px;
        background:var(--color-logo-grey);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
    }
}

.bread-crumbs{
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    color:var(--color-bread-grey);
    .bread-crumbs__separator, .bread-crumbs__current{
        color:var(--color-black);
        font-size: 12px;
        font-weight: 400;
        line-height: 14.06px;
    }
}

.title{
    font-size: 48px;
    font-weight: 700;
    line-height: 56.25px;
}

.banner{
    height: 300px;
    .container{
        gap: 30px;
        padding: 30px;
        height: 100%;
        position: relative;
        .banner__background{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            & img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .banner__description{
            font-size: 16px;
            font-weight: 400;
            line-height: 18.75px;
        }
    }
}

.fotos{
    .container{
        padding: 50px 0;
        .fotos__text{
            width: 80%;
        }
    }
}

.compilation{
    padding: 50px 0;
    background-color: var(--color-light-grey);
    .container{

    }
}

.recommendations{
    .container{
        padding: 50px 0;
    }
}

.footer{
    background-color: var(--color-black);
    color:var(--color-white);
    padding: 50px 0;
    .footer__slogan{
        color:var(--color-white);
        font-size: 24px;
        font-weight: 500;
        line-height: 28.13px;
        text-transform: uppercase;
    }
    .footer__write{
        color:var(--color-blue);
        font-size: 16px;
        font-weight: 400;
        line-height: 19.12px;
    }
    .footer__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}